<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vedant.hereami">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/image"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AlertDialog.AppCompat">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBFjGS-SLqf3Q9mxj8Mc5PZf5XVbU7ulV0" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat" />

        <receiver
            android:name=".ReceiveSMS"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Getlocation"
            android:label="@string/title_activity_getlocation" />
        <activity
            android:name=".Sendlocation"
            android:label="@string/title_activity_sendlocation" />
        <activity
            android:name=".Main"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".name"
            android:label="Name"
            android:theme="@style/Theme.AppCompat">

        </activity>
        <activity android:name=".ListActivity">

        </activity>
        <activity android:name=".TestActivity">

        </activity>
    </application>

</manifest>